<div class="body-container">
  <div class="body-center">
    <div class="question-container">
      <h2 class="">Email Confirmation</h2>
    </div>
      <div class="form-column" layout="column" flex-offset="30" flex-offset-sm="20" flex-offset-xs="0" flex="40" flex-sm="60" flex-xs="100">
        <div class="form-container">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

              <%= devise_error_messages! %>

              <div class="form-row">
                <md-input-container layout="column" flex="100" class="md-block">
                  <%= f.label :first_name %>
                    <%= f.text_field :first_name, autofocus: true %>
                </md-input-container>
            </div>

            <div class="form-row">
            <md-input-container flex="100" class="md-block">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, autofocus: true %>
            </md-input-container>
            </div>

            <div class="form-row">
            <md-input-container flex="100" class="md-block">
              <%= f.label :email %>
                <%= f.email_field :email, autofocus: true %>
            </md-input-container>
          </div>

            <div class="form-row margin-bottom-30">
              <md-input-container flex="100" class="md-block">
                <%= f.label :zipcode %>
                <%= f.text_field :zipcode, autofocus: true %>
              </md-input-container>
            </div>

            <div class="text-center">
            <%= f.submit "Next", class: "md-apply-purple md-button md-ink-ripple" %>
            </div>

          <% end %>
        </div>
        <div flex></div>
      </div>

    </div>
  </div>
