%div
  .family-bg
    .margin-bottom-30{:flex => "100", :layout => "row", "layout-xs" => "column"}
      .container-margin.text-center{:flex => "100", "flex-xs" => "100", :layout => "column"}
        %h1.white Affordable life insurance in minutes.
        %p Plans starting at $10 a month. Get coverage instantly with no exams. Adjust your policy as life happens.
        %md-button.md-primary.landing-button{:href => "/insurance/apply"} Apply Today
        /
          <div id="mc_embed_signup">
          <form action="//bequestlife.us16.list-manage.com/subscribe/post?u=cd7307720bd59ec1c7e30ef79&amp;id=f478eea267" method="post"
          id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

          <md-input-container layout="column" flex="60" class="md-block landing-input">
          <label>Email Address</label>
          <input type="email" value="" name="EMAIL" id="mce-EMAIL" required>
          </md-input-container>

          <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_cd7307720bd59ec1c7e30ef79_f478eea267" tabindex="-1" value="">
          </div>

          <div class="clear">
          <md-button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="md-primary landing-button">Subscribe</md-button>
          </div>

          </div>
          </form>
          </div>
  .landing-press.text-center
    = image_tag("/insurance/onboarding/img/press/forbes.png", class: "img-press")
    = image_tag("/insurance/onboarding/img/press/wsj.png", class: "img-press")
    = image_tag("/insurance/onboarding/img/press/fortune.png", class: "img-press")
    = image_tag("/insurance/onboarding/img/press/nerdwallet.png", class: "img-press")
    = image_tag("/insurance/onboarding/img/press/businessinsider.png", class: "img-press")
  .landing-white
    .container-margin.text-center.margin-bottom-30{:flex => "100", :layout => "row", "layout-xs" => "column"}
      %h1 Peace of mind wherever your mind is.
      %p
        No matter what life throws at you, we have your back. With Bequest Life, you can ensure your mortgage, student loans,
        and other liabilities are paid for. Live in confidence through family and career events. Protecting your loved ones
        has never been easier.
    %div{:flex => "100", :layout => "row", "layout-xs" => "column"}
      .text-center{:flex => "100", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        = image_tag("/insurance/onboarding/img/events.png", class: "img-events")
        / %img.img-events{:src => "/insurance/onboarding/img/events.png"}/
  .landing-hexagon
    %div{:flex => "100", :layout => "row", "layout-xs" => "column"}
      .container-margin.text-center{:flex => "33", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        %h1 Designed for you.
        %p We are the #1 life insurance provider for millennials and freelancers.
        %p
          Our policy holders understand the importance of time and money which is why they choose us to carry on their legacy.
      .container-margin.text-center{:flex => "33", "flex-xs" => "100", :layout => "column", "layout-align" => "center center", "layout-padding" => ""}
        .container-block
          = image_tag("/favicon.png", class: "img-favicon")
          / %img.img-favicon{:src => "../favicon.png"}
      .container-margin.text-center{:flex => "33", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        %h1 Smart like you.
        %p Our application process is simple and instant. No exams required.
        %p No middlemen, brokers, or agents. We approve and underwrite your policy ourselves.
  .landing-border
    .container-margin.text-center{:flex => "100", :layout => "row", "layout-xs" => "column"}
      %h1.black Insurance as a service.
    %div{:flex => "100", :layout => "row", "layout-xs" => "column"}
      .text-center.container-margin{:flex => "33", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        %ng-md-icon.img-icon{:icon => "build"}
        %p.text-left Adjust your coverage and premium frequency anytime.
      .text-center.container-margin{:flex => "33", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        %ng-md-icon.img-icon{:icon => "pause"}
        %p.text-left Pause your policy anytime and renew in minutes.
      .text-center.container-margin{:flex => "33", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        %ng-md-icon.img-icon{:icon => "cake"}
        %p.text-left Flexible term life insurance that lasts until your 65th birthday.
  .landing-gray
    .text-center{:flex => "100", :layout => "row", "layout-xs" => "column"}
      %h1.black Learn about your insurance needs.
    %br/
    %div{:flex => "100", :layout => "row", "layout-xs" => "column"}
      .container-margin.text-center{:flex => "25", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        .question-block Do I need life insurance?
      .container-margin.text-center{:flex => "25", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        .question-block What are the advantages to term life insurance?
      .container-margin.text-center{:flex => "25", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        .question-block How much life insurance do I need?
      .container-margin.text-center{:flex => "25", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        .question-block Can I afford life insurance?
    %div{:flex => "100", :layout => "row", "layout-xs" => "column"}
      .container-margin.text-center{:flex => "25", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        .question-block Who can I name as a beneficiary?
      .container-margin.text-center{:flex => "25", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        .question-block How often should I review my life insurance needs?
      .container-margin.text-center{:flex => "25", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        .question-block What if I already have life insurance through my employer?
      .container-margin.text-center{:flex => "25", "flex-xs" => "100", :layout => "column", "layout-padding" => ""}
        .question-block What if I am unemployed?
  .family-bg-2
    .margin-bottom-30{:flex => "100", :layout => "row", "layout-xs" => "column"}
      .container-margin.text-center{:flex => "100", "flex-xs" => "100", :layout => "column"}
        %h1.white Live in a nest with Bequest.
        %br/
        %md-button.md-primary.landing-button{:href => "/insurance/apply"} Apply Today
