!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta{:content => "index,follow", :name => "robots"}/
    %meta{:content => "Life insurance in minutes. Simple questions, pay by card, and electronically sign your policy.", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Bequest Life | Insurance in seconds
    %base{:href => defined?(@base_path) ? @base_path : "/"}
    %link{:href => "https://fonts.googleapis.com/css?family=Marcellus", :rel => "stylesheet"}
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
    :javascript
      window.$crisp=[];window.CRISP_WEBSITE_ID="a17c68b4-c580-4837-af15-ab72172dfa15";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-105239643-1', 'auto');
      ga('send', 'pageview');
    = csrf_meta_tags
    = stylesheet_pack_tag 'onboarding/shared'
    / = stylesheet_link_tag "application", :media => "all"
    / = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    / = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    / = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    / = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    / = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    / = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    / = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"



  %body
    / ============== HEADER ==============
    - if defined?(@header_footer_on)
      = render 'layouts/nav'

    = yield
    / %div{"ui-view" => ""}
    / ============== FOOTER ==============
    - if defined?(@header_footer_on)
      = render 'layouts/footer'
    / = javascript_pack_tag 'onboarding/main'
    / = javascript_pack_tag 'onboarding/app'
    = javascript_pack_tag 'onboarding/shared'
