!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta{:content => "index,follow", :name => "robots"}/
    %meta{:content => "Life insurance in minutes. Simple questions, pay by card, and electronically sign your policy.", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Bequest Life | Royally simple life insurance
    %base{:href => defined?(@base_path) ? @base_path : "/"}
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
    = csrf_meta_tags
    = stylesheet_pack_tag 'onboarding/shared'
    / = stylesheet_link_tag "application", :media => "all"
    / = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    / = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    / = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    / = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    / = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    / = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    / = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"



  %body
    / ============== HEADER ==============
    = render 'layouts/nav'
    = yield
    / %div{"ui-view" => ""}
    / ============== FOOTER ==============
    = render 'layouts/footer'
    / = javascript_pack_tag 'onboarding/main'
    / = javascript_pack_tag 'onboarding/app'
    = javascript_pack_tag 'onboarding/shared'
